<p class="super-big-intro">Projects & work experience</p>
<div *ngFor="let project of projects" class="encapsulate-project">
  <div class="project-details">
    <p class="project-title">{{ project.name }}</p>
    <p class="project-description">{{ project.description }}</p>
    <div class="project-technologies">
      <span *ngFor="let tech of project.technologies" class="badge">
        <img [src]="tech.icon" alt="{{ tech.name }} icon" class="tech-icon">
        {{ tech.name }}
      </span>
    </div>
  </div>
</div>
